<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>
        <td th:text="'Appointment ID'">
        <td th:text="'Patient name'">
        <td th:text="'Phone number'">
        <td th:text="'E-mail adress'">
        <td th:text="'Date of examination'">
        <td th:text="'Specialist'">
        <td th:text="'Description'">
        <td th:text="'Date of reservation'">
        <td th:text="'Doctor'">
        </th>
    </tr>

    <div th:if="${filterDoctor}">
    <label>Search by name</label>
    <form th:action="@{(${link})}" th:method="get">
    <select name="name" th:if="${filterDoctor}">
        <option th:text="'*all*'" th:value="'all'"></option>
        <option th:each="doctor : ${doctors}" th:text="${doctor.name}" th:value="${doctor.getName()}"> </option>
    </select>
        <button type="submit">submit</button>
    </form>
    </div>
    
    <div>
    <label>Search by specialty</label>
    <form th:action="@{(${link})}" th:method="get">
        <select name="specialist">
            <option th:text="'*all*'" th:value="'all'"></option>
            <option th:each="specialty : ${specialties}" th:text="${specialty.getNameOfSpecialty()}" th:value="${specialty.getNameOfSpecialty()}"> </option>
        </select>
        <button type="submit">submit</button>
    </form>
    </div>

    <tr th:each="appointment : ${appointments}" th:style="${appointment.date} ? 'color:red' : 'color:black'">
        <td></td>
        <td th:text="${appointment.getId()}">
        <td th:text="${appointment.getPatientName()}">
        <td th:text="${appointment.getPhoneNumber()}">
        <td th:text="${appointment.getEmail()}">
        <td th:text="${appointment.getDate()}">
        <td th:text="${appointment.getSpecialist()}">
        <td th:text="${appointment.getDescription()}">
        <td th:text="${appointment.getDateOfSubmission()}">
        <td th:if="${appointment.getDoctor() != null}" th:text="${appointment.getDoctor().getName()}">
    </tr>
</body>
</html>