<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    body {
        background-image: url('/images/spikes.webp');
        background-size: 300px;
    }
</style>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Appointments</title>
</head>
<body>
<ul>
    <li style="display:inline-block;">
        <h3><a th:href="@{/appointments}" class="badge badge-info" style="margin-left: 20px; margin-top: 20px "
               th:text="'All appointments'"></a></h3>
    </li>
    <li style="display:inline-block;">
        <h3><a th:href="@{/unpaired-appointments}" class="badge badge-info" style="margin-left: 20px; margin-top: 20px"
               th:text="'Unpaired appointments'"></a></h3>
    </li>
    <li style="display:inline-block;">
        <h3><a th:href="@{/paired-appointments}" class="badge badge-info" style="margin-left: 20px; margin-top: 20px"
               th:text="'Paired appointments'"></a></h3>
    </li>
    <li style="display:inline-block;">
        <h3><a th:href="@{/docs}" class="badge badge-danger" style="margin-left: 20px; margin-top: 20px"
               th:text="'Doctors'"></a></h3>
    </li>
</ul>

<h2 th:if="${link == '/paired-appointments'}" th:text="'Paired Appointments'" style="color: darkcyan; font-style: italic; font-weight: bold; font-family: 'Trebuchet MS'; font-size: 40px"></h2>
<h2 th:if="${link == '/unpaired-appointments'}" th:text="'Unpaired Appointments'" style="color: darkcyan; font-style: italic; font-weight: bold; font-family: 'Trebuchet MS'; font-size: 40px"></h2>
<h2 th:if="${link == '/appointments'}" th:text="'All Appointments'" style="color: darkcyan; font-style: italic; font-weight: bold; font-family: 'Trebuchet MS'; font-size: 40px"></h2>

<div th:if="${link != '/unpaired-appointments'}">
    <label style="margin-left: 20px; font-weight: bold; font-family: Calibri; font-size: 20px">Search by name</label>
    <form th:action="@{(${link})}" th:method="get" style="margin-left: 18px">
        <select name="name" style="width: 100px; background-color: lightseagreen; font-size: 18px; font-family: Calibri; font-weight: bold; color: white">
            <option style="font-style: italic" th:text="'*all*'" th:value="'all'"></option>
            <option th:each="doctor : ${doctors}" th:text="${doctor.name}" th:value="${doctor.getName()}"></option>
        </select>
        <button type="submit" class="btn btn-light">submit</button>
    </form>
</div>
<div>
    <label style="margin-left: 20px; font-weight: bold; font-family: Calibri; font-size: 20px">Search by specialty</label>
    <form th:action="@{(${link})}" th:method="get" style="margin-left: 18px">
        <select name="specialist" style="width: 100px; background-color: lightseagreen; font-size: 18px; font-family: Calibri; font-weight: bold; color: white">
            <option style="font-style: italic" th:text="'*all*'" th:value="'all'"></option>
            <option th:each="specialty : ${specialties}" th:text="${specialty.getNameOfSpecialty()}"
                    th:value="${specialty.getNameOfSpecialty()}"></option>
        </select>
        <button type="submit" class="btn btn-light">submit</button>
    </form>
</div>

<table class="table table-striped">
    <tr>
        <th>
        <td></td>
        <td></td>
        <td></td>
        <td style="font-size: 22px; font-weight: bold; color: white" class="bg-info" th:text="'Appointment ID'">
        <td style="font-size: 22px; font-weight: bold; color: white" class="bg-info" th:text="'Patient name'">
        <td style="font-size: 22px; font-weight: bold; color: white" class="bg-info" th:text="'Phone number'">
        <td style="font-size: 22px; font-weight: bold; color: white" class="bg-info" th:text="'E-mail adress'">
        <td style="font-size: 22px; font-weight: bold; color: white" class="bg-info" th:text="'Date of examination'">
        <td style="font-size: 22px; font-weight: bold; color: white" class="bg-info" th:text="'Specialist'">
        <td style="font-size: 22px; font-weight: bold; color: white" class="bg-info" th:text="'Description'">
        <td style="font-size: 22px; font-weight: bold; color: white" class="bg-info" th:text="'Doctor'">
        <td style="font-size: 22px; font-weight: bold; color: white" class="bg-info" th:text="'Delete'">
        <td style="font-size: 22px; font-weight: bold; color: white" class="bg-info" th:text="'Edit'">
        <td></td>
        <td></td>
        <td></td>
        </th>
    </tr>

    <tr th:each="appointment : ${appointments}" th:style="${appointment.date} ? 'color:red' : 'color:black'">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td style="font-size: 20px; font-weight: bold; color: lightseagreen" th:text="${appointment.getId()}">
        <td style="font-size: 20px; color: #333333" th:text="${appointment.getPatientName()}">
        <td style="font-size: 20px; color: #333333" th:text="${appointment.getPhoneNumber()}">
        <td style="font-size: 20px; color: #333333" th:text="${appointment.getEmail()}">
        <td style="font-size: 20px; color: #333333" th:text="${appointment.getDate()}">
        <td style="font-size: 20px; color: #333333" th:text="${appointment.getSpecialist()}">
        <td style="font-size: 20px; color: #333333" th:text="${appointment.getDescription()}">
        <td style="font-size: 20px; color: #333333" th:if="${appointment.getDoctor() != null}" th:text="${appointment.getDoctor().getName()}">
        <td style="font-size: 20px; color: #333333" th:if="${appointment.getDoctor() == null}" th:text="'no doctor yet'">
        <td style="font-size: 30px"><a class="badge badge-danger" th:href="@{'/delete?id='+${appointment.getId()}}"> X </a></td>
        <td style="font-size: 30px"><a class="badge badge-warning" th:href="@{'/edit?id='+${appointment.getId()}}"> edit </a></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
</body>
</html>