<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctors</title>
</head>
<body>
<h3><a th:href="@{/appointments}" th:text="'All appointments'"></a> </h3>
<h3><a th:href="@{/unpaired-appointments}" th:text="'Unpaired appointments'"></a> </h3>
<h3><a th:href="@{/paired-appointments}" th:text="'Paired appointments'"></a> </h3>
<h3><a th:href="@{/docs}" th:text="'Doctors'"></a> </h3>
<table>
    <tr>
        <th>
        <td th:text="'Doctor ID'">
        <td th:text="'Name'">
        </th>
    </tr>

    <tr th:each="doctor : ${doctors}">
        <td></td>
        <td><a th:href="@{'/doc?id='+${doctor.getId()}}" th:text="${doctor.getId()}">
        <td><a th:href="@{'/doc?id='+${doctor.getId()}}" th:text="${doctor.name}"></a></td>
        <td><a th:href="@{'/delete-doc?id='+${doctor.getId()}}" th:text="'X'"></a></td>
    </tr>
</table>
</body>
</html>