<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit appointment</title>
</head>
<body>
<h2 th:if="${error} == 'true'" th:text="'The choosen doctor does not have the choosen specialty!'" style="color:red"></h2>
<form th:action="@{'/edit?id='+${original.getId()}}" th:method="post" th:object="${original}">
    <input type="text" th:field="*{id}" required readonly>
    <input type="text" th:field="*{patientName}" required oninvalid="this.setCustomValidity('Please add a name')">
    <input type="number" th:field="*{phoneNumber}" required oninvalid="this.setCustomValidity('Please add the phone number')">
    <input type="email" th:field="*{email}" required oninvalid="this.setCustomValidity('Please add the e-mail address')">
    <input type="text" th:field="*{date}" required oninvalid="this.setCustomValidity('Please add the examination date')">
    <select th:field="*{specialist}" required name="class">
        <option th:each="specialty : ${specialties}" th:text="${specialty.getNameOfSpecialty()}" th:value="${specialty.id}"></option>
    </select>
    <input type="text" th:field="*{description}" required oninvalid="this.setCustomValidity('Please add the required specialist')">
    <select th:field="*{doctor}" required name="class">
        <option th:each="doc : ${doctors}" th:text="${doc.name}" th:value="${doc.id}"></option>
    </select>
    <button type="submit">save changes</button>
</form>
</body>
</html>