<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<style>
    body {
        background-image: url('/images/spikes.webp');
        background-size: 300px;
    }
</style>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Edit appointment</title>
</head>
<body>
<h2 th:if="${error} == 'true'" th:text="'The choosen doctor does not have the choosen specialty!'" style="color:red"></h2>
<form th:action="@{'/edit?id='+${original.getId()}}" th:method="post" th:object="${original}" style="margin: 30px">
    <input style="background-color: #e0e0e0; font-size: 22px; font-family: Calibri" type="text" th:field="*{id}" required readonly><br>
    <input style=" font-size: 22px; font-family: Calibri" type="text" th:field="*{patientName}" required oninvalid="this.setCustomValidity('Please add a name')"><br>
    <input style=" font-size: 22px; font-family: Calibri" type="number" th:field="*{phoneNumber}" required oninvalid="this.setCustomValidity('Please add the phone number')"><br>
    <input style=" font-size: 22px; font-family: Calibri" type="email" th:field="*{email}" required oninvalid="this.setCustomValidity('Please add the e-mail address')"><br>
    <input style=" font-size: 22px; font-family: Calibri" type="text" th:field="*{date}" required oninvalid="this.setCustomValidity('Please add the examination date')"><br>
    <select style=" font-size: 22px; font-family: Calibri" th:field="*{specialist}" required name="class">
        <option th:each="specialty : ${specialties}" th:text="${specialty.getNameOfSpecialty()}" th:value="${specialty.nameOfSpecialty}"></option>
    </select><br>
    <input style=" font-size: 22px; font-family: Calibri" type="text" th:field="*{description}" required oninvalid="this.setCustomValidity('Please add the required specialist')"><br>
    <select style=" font-size: 22px; font-family: Calibri" th:field="*{doctor}" required name="class">
        <option th:each="doc : ${doctors}" th:text="${doc.name}" th:value="${doc.id}"></option>
    </select><br>
    <button class="btn btn-warning" type="submit">save changes</button>
</form>
</body>
</html>